{% extends 'booksystem/base.html' %}
{% block login_display %}
    <a href="#">welcome admin Sir/Madam</a>
{% endblock %}


{% block content %}

    <div class="container-fluid col-sm-12" style="margin-top: 20px">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Weekly income
                </div>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <th style="text-align: center">Serial number</th>
                        <th style="text-align: center">weekly</th>
                        <th style="text-align: center">Flights by</th>
                        <th style="text-align: center">income</th>
                        </thead>
                        <tbody align="center">
                        {% for income in week_incomes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ income.metric }}</td>
                                <td>{{ income.flight_sum }}</td>
                                <td>{{ income.income }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Monthly income
                </div>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <th style="text-align: center">Serial number</th>
                        <th style="text-align: center">weekly</th>
                        <th style="text-align: center">Flights by</th>
                        <th style="text-align: center">income</th>
                        </thead>
                        <tbody align="center">
                        {% for income in month_incomes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ income.metric }}</td>
                                <td>{{ income.flight_sum }}</td>
                                <td>{{ income.income }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Annual income
                </div>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                       <th style="text-align: center">Serial number</th>
                        <th style="text-align: center">weekly</th>
                        <th style="text-align: center">Flights by</th>
                        <th style="text-align: center">income</th>
                        </thead>
                        <tbody align="center">
                        {% for income in year_incomes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ income.metric }}</td>
                                <td>{{ income.flight_sum }}</td>
                                <td>{{ income.income }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="book_orders" style="margin-left: 20px;margin-right: 20px">
            <div class="col-sm-12" style="background-color: white">
                <h1>The order list</h1>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <th style="text-align: center">Serial number</th>
                        <th style="text-align: center">passengers</th>
                        <th style="text-align: center">flight</th>
                        <th style="text-align: center">route</th>
                        <th style="text-align: center">departure time</th>
                        <th style="text-align: center">ticket</th>
                        </thead>
                        <tbody align="center">
                        {% for order in order_set %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ order.passenger_name }}</td>
                                <td>{{ order.flight_name }}</td>
                                <td>{{ order.flight_route }}</td>
                                <td>{{ order.flight_ltime }}</td>
                                <td>{{ order.flight_price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}