{% extends 'booksystem/base.html' %}

{% block login_display %}
   <a href="#">welcome {{ username }} Sir/Madam</a>
{% endblock %}

{% block js %}
    <script>

        function confirm_info() {
            var remain_seats = document.getElementById('remain_seats').innerHTML;
            document.getElementById('book_btns').style.display = "none";
            if (remain_seats > 0) {
                document.getElementById('book_success').style.display = "block";
            } else {
                document.getElementById('book_failure').style.display = "block";
            }
        }

        // AJAX refreshes the page asynchronously
        function PostData() {
            $.ajax({
                type: "POST",
                url: "",
                data: ""
            });
            return false; // Must be this sentence, otherwise will refresh the page
        }

    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 20px">
        <div class="alert" style="background-color: white;overflow: hidden">
            <h1>Dear passenger</h1>
            <div id="info_body" style="margin-left: 50px;margin-right: 50px">
                <p>
                    You select the <strong style="font-size: large"> {{ flight.name }} </strong>Flight，
                    there are still seats left on that flight
                    <strong id="remain_seats"
                            style="font-size: xx-large;color: #ff6600;font-style: italic">{{ flight.capacity }}</strong>
                    tickets.
                </p>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center">flight</th>
                        <th style="text-align: center">Take off the airport</th>
                        <th style="text-align: center">Arrive at the airport</th>
                        <th style="text-align: center">Departure time</th>
                        <th style="text-align: center">Arrival time</th>
                        <th style="text-align: center">Price</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr>
                        <td>{{ flight.name }}</td>
                        <td>{{ flight.leave_city }}{{ flight.leave_airport }}</td>
                        <td>{{ flight.arrive_city }}{{ flight.arrive_airport }}</td>
                        <td>{{ flight.leave_time }}</td>
                        <td>{{ flight.arrive_time }}</td>
                        <td>￥{{ flight.price }}</td>
                    </tr>
                    </tbody>
                </table>

                <div id="book_success" style="display: none">
                    <p style="color: green;font-size: large;font-weight: bold">
                       You have successfully ordered this flight, please take good care of the flight information, wish you a pleasant journey!
                    </p>
                </div>

                <div id="book_failure" style="display: none">
                    <p style="color: red;font-size: large;font-weight: bold">
                        This flight is no longer available. Please choose another flight. Have a nice trip!
                    </p>
                </div>

                <div id="book_btns" align="right">
                    <!--div内容右对齐-->
                    <form onsubmit="return PostData()" method="post" style="display: inline">
                        <input class="btn btn-primary" style="width: 80px" value="confirm" type="submit"
                               onclick="confirm_info()">
                    </form>
                    <a href="" class="btn btn-danger" style="width: 80px" onclick="history.back();">return</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}