{% extends 'booksystem/base.html' %}

{% block login_display %}
   <a href="#">welcome {{ username }} Sir/Madam</a>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 20px">
        <div class="alert" style="background-color: white;overflow: hidden">
            <h1>Dear passenger</h1>
            <div id="info_body" style="margin-left: 50px;margin-right: 50px">
                <p>
                    You have booked this flight, please choose another flight, wish you a pleasant trip!
                </p>
            </div>

            <div id="book_btns" align="right">

                <a href="" class="btn btn-danger" style="width: 80px" onclick="history.back();">return</a>
            </div>
        </div>
    </div>
{% endblock %}