{% extends 'booksystem/base.html' %}

{% block login_display %}
    <a href="#">welcome {{ username }} Sir/Madam</a>
{% endblock %}

{% block style %}
    <style>
        .main {
            margin-top: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        function refund(flight_id) {
            var choice = confirm("Dear customer, are you sure you want to refund your ticket");
            if (choice == true) {
                window.location = "/booksystem/refund/flight/" + flight_id;
            }
        }
    </script>
{% endblock %}

{% block content %}

    <div class="main">

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th style="text-align: center">flight</th>
                        <th style="text-align: center">Take off the airport</th>
                        <th style="text-align: center">Arrive at the airport</th>
                        <th style="text-align: center">Departure time</th>
                        <th style="text-align: center">Arrival time</th>
                        <th style="text-align: center">Price</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            {% for flight in booked_flights %}
                <tr>
                    <td>{{ flight.name }}</td>
                    <td>{{ flight.leave_city }}{{ flight.leave_airport }}</td>
                    <td>{{ flight.arrive_city }}{{ flight.arrive_airport }}</td>
                    <td>{{ flight.leave_time }}</td>
                    <td>{{ flight.arrive_time }}</td>
                    <td>￥{{ flight.price }} &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-sm btn-danger" onclick="refund({{ flight.id }})">refund</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}